// Colors
$dark-background: #2e3541;
$dark-background-accent: rgb(33, 182, 228);
$dark-text-color: rgb(155, 155, 155);
$dark-active-color: white;
$dark-active-background-overlay: rgba(255, 255, 255, 0.1);

// Measurements
$header-height: 2rem;
$nav-width: 4rem;
$border-radius: 3px;
$padding: 1rem;
