version: 2.1

orbs:
  node: circleci/node@4.0.0
  browser-tools: circleci/browser-tools@1.0.1

jobs:
  build:
    docker:
      - image: 'cimg/base:stable'
    steps:
      - checkout
      - node/install
      - run: npm run build

workflows:
  node-tests:
    jobs:
      - node/test:
          version: 12.18.3
  node-build:
    jobs:
      - build
