<h2>{{@section.label}}</h2>
<p>Minecraft Datapack Creator is a web app you can use to create Datapacks for Minecraft Java Edition. A Datapack is a colleciton of configuration files that allow you to change the game in significant ways. Supported by vanilla minecraft, servers and realms it is a perfect starting place for those interested in modding Minecraft.</p>